Repository GuillaumeKESTEMAN/WeatherOps, pull requests merged in 2025-02, with the labels that each got.

#45 Add map panel, city search and weather fetch functions
  back/src/main.ts
  front/.env.sample
  front/.gitignore
  front/package-lock.json
  front/package.json
  front/src/Pages/Home.tsx
  front/src/main.tsx
  front/src/shared/Map.tsx
  front/src/shared/Map/Map.css
  front/src/shared/Map/Map.tsx
  front/src/shared/MapPanel/MapPanel.css
  front/src/shared/MapPanel/MapPanel.tsx
Labels: front

#48 Refactor: Home page
  front/package-lock.json
  front/package.json
  front/src/Pages/Home.tsx
  front/src/main.tsx
  front/src/pages/Home/Home.css
  front/src/pages/Home/Home.tsx
  front/src/pages/Home/MapManager/MapManager.hook.ts
  front/src/pages/Home/MapManager/MapManager.tsx
  front/src/pages/Home/MapPanel/MapPanel.css
  front/src/pages/Home/MapPanel/MapPanel.tsx
  front/src/pages/Home/MapPanel/MapPanelHeader/MapPanelHeader.css
  front/src/pages/Home/MapPanel/MapPanelHeader/MapPanelHeader.tsx
  front/src/shared/AppContext/AppContext.helpers.ts
  front/src/shared/AppContext/AppContext.hook.tsx
  front/src/shared/AppContext/AppContext.tsx
  front/src/shared/AppContext/AppContextProvider.tsx
  front/src/shared/AppContext/types.d.ts
  front/src/shared/Map/Map.css
  front/src/shared/Map/Map.tsx
  front/src/shared/MapPanel/MapPanel.css
  front/src/shared/MapPanel/MapPanel.tsx
  front/src/shared/types.d.ts
Labels: front

#49 Feat: get user location
  front/src/pages/Home/MapManager/MapManager.hook.ts
  front/src/pages/Home/MapPanel/MapPanelHeader/MapPanelHeader.tsx
Labels: front

#50 feat: add favorite city post route
  back/.env.sample
  back/package-lock.json
  back/package.json
  back/src/city/city.controller.ts
  back/src/city/city.module.ts
  back/src/city/city.service.ts
  back/src/city/city.types.ts
  back/src/environment/environment.service.ts
Labels: back, bdd

#56 Feat/allow to remove favorite city
  back/src/city/city.controller.ts
  back/src/city/city.service.ts
Labels: back, bdd

#51 doc: add links to .env.samples
  back/.env.sample
  front/.env.sample
Labels: documentation

#54 Feat/show weather data
  back/src/weather/weather.service.ts
  back/src/weather/weather.types.d.ts
  front/src/pages/Home/MapPanel/MapPanel.css
  front/src/pages/Home/MapPanel/MapPanel.tsx
  front/src/pages/Home/MapPanel/MapPanelHeader/MapPanelHeader.tsx
  front/src/shared/AppContext/AppContextProvider.tsx
  front/src/shared/types.d.ts
Labels: front
