Repository GuillaumeKESTEMAN/WeatherOps, pull requests merged in 2025-01, with the labels that each got.

#13 Init config front
  front/index.html
  front/public/vite.svg
  front/src/App.css
  front/src/App.tsx
  front/src/assets/react.svg
  front/src/index.css
  front/src/main.tsx
Labels: front

#28 chore: add front and back ci
  .github/workflows/main.yml
Labels: front

#34 fix(Home): remove unused import
  front/src/Pages/Home.tsx
Labels: bug

#33 Chore: create docker files and compose
  back/Dockerfile
  docker-compose.yml
  front/Dockerfile
Labels: docker

#38 Chore: add docker build in ci
  .github/workflows/main-pr.yml
  .github/workflows/main.yml
Labels: chore

#42 Feat: add city search endpoint
  back/.prettierrc
  back/package-lock.json
  back/package.json
  back/src/app.module.ts
  back/src/city/city.controller.ts
  back/src/city/city.module.ts
  back/src/city/city.service.ts
  back/src/city/city.types.ts
Labels: back
